/* index.css */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #24C4B5;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Tambahkan ini agar hamburger dapat ditampilkan di atas header */
}

.logo {
    text-align: left;
}

.wonosobo-connect {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
}

.text-wonosobo {
    color: #000;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.text-connect {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

nav {
    margin-top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Flex untuk menu di layar besar */
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #112423;
    background-color: rgba(255, 255, 255, 0.2);
}

nav ul li a:active {
    background-color: rgba(255, 255, 255, 0.3);
    color: #24C4B5;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center; /* Memusatkan konten */
    align-items: center;
    height: calc(100vh - 140px); /* Menyesuaikan tinggi agar konten berada di tengah */
}

#about {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Maksimal lebar bagian tentang */
}

h2 {
    color: #24C4B5;
    margin-bottom: 20px;
    text-align: center;
}

p {
    line-height: 1.6; /* Jarak antar baris untuk keterbacaan */
    margin-bottom: 15px; /* Margin bawah untuk pemisahan paragraf */
}

footer {
    background-color: #24C4B5;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
    font-size: 0.9em;
}

/* Responsif */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Susun menu dalam kolom */
        display: none; /* Sembunyikan menu */
        width: 100%; /* Lebar penuh */
        background-color: #24C4B5; /* Warna latar belakang menu */
        position: absolute; /* Agar menu mengambang */
        top: 60px; /* Mengatur posisi di bawah header */
        z-index: 1000; /* Memastikan menu di atas konten lain */
        padding: 10px 0; /* Memberikan padding pada menu */
    }

    nav .hamburger {
        display: block; /* Tampilkan hamburger */
        cursor: pointer;
        font-size: 24px; /* Ukuran ikon hamburger */
    }

    nav ul.show {
        display: flex; /* Tampilkan menu ketika class show ditambahkan */
    }

    nav ul li {
        text-align: center; /* Rata tengah */
    }
}
